/* TODO: inserite il CSS necessario per completare il MHW! */


.choice-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.choice-grid div {
  width: 32.5%;
  margin-bottom: 20px;
  background-color: #f4f4f4;
  border: 1px solid #dcdcdc;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;


}

.choice-grid img {
  width: 100%;
  height: 85%;
}

.uncheck {
  opacity: 0.6;
}

.choice-grid div.selected {
  background-color: #cfe3ff;
}

#result {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px;
}

#result.hidden {
  display: none;
}

#resultTitle {
  font-family: 'Pangolin', cursive;
  font-size: 50px;
}

#resultText {
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
}

button {
  font-family: 'Pangolin', 'Trebuchet MS', cursive;
  padding: 10px 15px;
  display: flex;
  background-color: #cecece;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
}

button:hover {
  background-color: #e0e0e0;
}

/* Layout Mobile */

/*Caso <500px*/

@media(max-width: 500px) {
  .choice-grid div {
    width: 49%;
  }
}

/*Caso <700px*/

@media(max-width: 700px) {
  article {
    width: 95%;
  }

  header div span {
    display: none;
  }
}